<!--The content below is only a placeholder and can be replaced.-->
<h3>Prova de Conceito Google Maps</h3>
<agm-map #map [minZoom]="11" [streetViewControl]="false" [fullscreenControl]="true" [zoom]="12" [latitude]="lat" [longitude]="lng" (mapRightClick)="onChooseLocation($event)">
  <agm-marker *ngIf="poi.latitude != 0" iconUrl="../assets/placeholder.png" [latitude]="poi.latitude" [longitude]="poi.longitude" (markerClick)="onLocationTypeSet($event)">
    <agm-info-window>
      <button type="submit" (click)="salvaPOI()">Salvar</button>
    </agm-info-window>
  </agm-marker>
</agm-map>
<p *ngIf="currentTravelTime != ''">{{currentTravelTime}} para a viatura {{closestMarker}} chegar ao local!</p>
<!-- <form action="submit" *ngIf="gmaps">
  <label>Nome do POI:
    <input name="nome" type="text" [(ngModel)]="poi.nome"/>
  </label>
  <button type="submit" (click)="salvaPOI()">Salvar</button>
</form> -->